<strong>Olá, {{ manager_meetup }} </strong>
<p>Um novo usuario se inscreveu no meetup - {{ meetup }} - confira os detalhes abaixo:</p>
<p>
  <strong>Usuario:</strong> {{ user }} <br />
  <strong>Meetup:</strong> {{ meetup }} <br />
  <strong>Descrição:</strong> {{ meetup_descricao }} <br />
  <strong>Data/Hora:</strong> {{ date }} <br />
</p>